<div >
  <p ng-show='vm.event.id'> Id{{vm.event.id}}</h1> </p>
  <p ng-show='vm.event.title'> Title: {{vm.event.title}} </p>
  <p ng-show='vm.event'> location: ARRAY </p>
  <p ng-show='vm.event.description'> Description: {{vm.event.description}} </p>
  <p ng-show='vm.event.min_price'> Min Price: {{vm.event.min_price}} </p>
  <p ng-show='vm.event.max_price'> Max Price: {{vm.event.max_price}} </p>
  <p ng-show='vm.event'> Payment: ARRAY </p>
  <p ng-show='vm.event.payment_details'> Payment Details: {{vm.event.payment_details}} </p>
  <p ng-show='vm.event.cover_url'> CoverURL: {{vm.event.cover_url}} </p>
  <p ng-show='vm.event.address'> Address: {{vm.event.address}} </p>
  <p ng-show='vm.event.district'> District: {{vm.event.district}} </p>
  <p ng-show='vm.event.city'> City: {{vm.event.city}} </p>
  <p ng-show='vm.event.initial_time'> Initial Time: {{vm.event.initial_time}} </p>
  <p ng-show='vm.event.final_time'> Final Time: {{  vm.event.final_time}} </p>
  <p ng-show='vm.event.created_at'> Created At: {{vm.event.created_at}} </p>
  <p ng-show='vm.event.updated_at'> Updated At: {{vm.event.updated_at}} </p>
  <p ng-show='vm.event.score'> Score: {{vm.event.score}} </p>
  <p ng-show='vm.event.is_system'> Is System: {{vm.event.is_system}} </p>
  <p ng-show='vm.event.owner.name'> Owner.Name: {{vm.event.owner.name}} </p>
  <p ng-show='vm.event.category.name'> Category.Name: {{vm.event.category.name}} </p>
  <p ng-show='vm.event'> Photos: ARRAY </p>
</div>

<div class="md-padding">
  <p ng-show='vm.event.title'><h1>{{vm.event.title}}</h1></p>
</div>