<div>
  <p ng-show='vm.place.id'> ID: {{vm.place.id}} </p>
  <p ng-show='vm.place.title'> Title: {{vm.place.title}} </p>
  <p ng-show='vm.place'> location: ARRAY </p>
  <p ng-show='vm.place.description'> Description: {{vm.place.description}} </p>
  <p ng-show='vm.place.min_price'> Min Price: {{vm.place.min_price}} </p>
  <p ng-show='vm.place.max_price'> Max Price: {{vm.place.max_price}} </p>
  <p ng-show='vm.place'> Payment: ARRAY </p>
  <p ng-show='vm.place.payment_details'> Payment Details: {{vm.place.payment_details}} </p>
  <p ng-show='vm.place.cover_url'> CoverURL: {{vm.place.cover_url}} </p>
  <p ng-show='vm.place.address'> Address: {{vm.place.address}} </p>
  <p ng-show='vm.place.district'> District: {{vm.place.district}} </p>
  <p ng-show='vm.place.city'> City: {{vm.place.city}} </p>
  <p ng-show='vm.place.initial_time'> Initial Time: {{vm.place.initial_time}} </p>
  <p ng-show='vm.place.final_time'> Final Time: {{vm.place.final_time}} </p>
  <p ng-show='vm.place.created_at'> Created At: {{vm.place.created_at}} </p>
  <p ng-show='vm.place.updated_at'> Updated At: {{vm.place.updated_at}} </p>
  <p ng-show='vm.place.score'> Score: {{vm.place.score}} </p>
  <p ng-show='vm.place.is_system'> Is System: {{vm.place.is_system}} </p>
  <p ng-show='vm.place.owner.name'> Owner.Name: {{vm.place.owner.name}} </p>
  <p ng-show='vm.place.category.name'> Category.Name: {{vm.place.category.name}} </p>
  <p ng-show='vm.place'> Photos: ARRAY </p>
</div>