<md-dialog flex>
    <div hide show-xs>
      <img style="height:300px; width:300px;" ng-src="images/default-local.png" class="md-card-image" alt="Washed Out">
    </div>
    <div hide show-gt-md flex>
      <img ng-src="images/default-local.png" class="md-card-image" alt="Washed Out">
    </div>
    <md-dialog-content>
      <md-tabs md-border-bottom md-dynamic-height="false">
        <md-tab label="Informações">


          <md-tab-label>
            <md-icon md-svg-icon="images/icons/ic_info_white_24px.svg"></md-icon>
            <b>Informações</b>
          </md-tab-label>
          <md-tab-body>
            <md-content class="md-padding">
              <div event-show></div>
            </md-content>
          </md-tab-body>


        </md-tab>
        <md-tab label="Comentários">


          <md-tab-label>
            <md-icon md-svg-icon="images/icons/ic_mode_comment_white_24px.svg" style:"float:right;"></md-icon>
            <b>Comentários</b>
          </md-tab-label>
          <md-tab-body>
            <md-content class="md-padding">
              <div event-show></div>
            </md-content>
          </md-tab-body>


        </md-tab>
      </md-tabs>
    </md-dialog-content>

</md-dialog>