
<div layout="row" class="md-padding">
	<div flex>
  		<ng-map flex="70" style="height:600px;" info-window map-lazy-load="https://maps.google.com/maps/api/js" center="-7.1196787,-34.86229760000003" zoom="20"></ng-map>
		<div flex flex="auto" layout= "row" class="div-map">
			<md-button class="buttom-map md-icon-button" aria-label="More">
        		<md-icon md-svg-icon="images/icons/ic_chevron_left_black_48px.svg"></md-icon>
      		</md-button>
      		<md-card flex layout-fill flex="initial">
			    <img src="images/lobao.jpg" class="md-card-image" alta="Washed Out">
			      <md-card-title>
			        <md-card-title-text>
			          <span class="md-headline">{{vm.events.title}}</span>
			          <span class="md-subhead">Altas loucuras</span>
			        </md-card-title-text>
			      </md-card-title>
  			</md-card>

			<md-button class="buttom-map md-icon-button">
        		<md-icon md-svg-icon="images/icons/ic_chevron_right_black_48px.svg"></md-icon>
      		</md-button>
		</div>
	</div>
</div>

<md-button ng-controller="filtroController" class=" btn-cadastro md-fab md-primary md-hue-2" style="background-color: #87CEFA; position: absolute; float: right; top:100px; right:0px;" aria-label="Comment" 
  ng-click="showFilter()">
    <md-icon md-svg-src="images/icons/filter-outline.svg"></md-icon>
  </md-button>
{{vm.events}}